<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Blogly{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header class="bg-primary text-white p-3 mb-4">
        <div class="container">
          <h1 class="mb-0">Blogly</h1>
        </div>
      </header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <a class="navbar-brand" href="{{ url_for('show_recent_posts') }}"
          >Home</a
        >
        <a class="nav-link" href="{{ url_for('list_users') }}">Users</a>
        <a class="nav-link" href="{{ url_for('list_tags') }}">Tags</a>
        <a class="nav-link" href="{{ url_for('add_user') }}">Create User</a>
      </nav>

      {% block content %} {% endblock %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <footer class="text-center my-4">
      <p>&copy; 2024 Blogly</p>
    </footer>
  </body>
</html>
